.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background: linear-gradient(to right, #2c3e50, #34495e);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100vw;
    gap: 20px;
    transition: box-shadow 0.3s ease;
  }
  
  .about:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .about-logo {
    flex-shrink: 0;
    width: 200px;
    height: auto;
  }
  
  h2 {
    color: white;
    font-size: 28px;
    margin-bottom: 15px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  p {
    color: white;
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .about-button {
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-top: 10px;
    border: 0.5px solid #fff;
    cursor: pointer;
  }
  
  .about-button:hover {
    background-color: #0056b3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  @media (max-width: 768px) {
    .about {
      padding: 10px;
    }
  
    .about-logo {
      width: 150px;
    }
  
    h2 {
      font-size: 24px;
    }
  
    p {
      font-size: 14px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }