.footer{
    color: #D9D9D9;
    /* background-color: #706b6b; */
    background-color: rgb(36, 34, 34);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 20px; */
    padding: 10px 5vw;
    padding-top: 10px;
    height: 100%;
}
.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
    margin: 0;
}

.footer-content-left img{
    height: 50px;
    width: max-content;
    margin-top: 30px;
}

.footer-copyright{
    color: white;
    text-align: center;
    width: 100%;
    margin: 0;
}

.footer-content-left , .footer-content-center , .footer-content-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.footer-content-left ul li, .footer-content-center ul li, .footer-content-right ul li{
    margin-bottom: 10px;
    list-style: none;
}
.footer-content-left h2, .footer-content-center h2, .footer-content-right h2{
    color: white;
}
.footer li{
    cursor: pointer;
}
.footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0px;
}
.foot-icon{
    width: 200px;
}

@media (max-width:750px) {
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .footer-copyright{
        text-align: center;
    }
}