.hamburger-menu {
    position: relative;
  }
  
  .menu-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
  }
  
  .hline {
    background-color: cyan;
    height: 3px;
    width: 100%;
    transition: all 0.3s ease;
  }
  
  .hline1 {
    transform: translateY(8px) rotate(0);
  }
  
  .hline2 {
    opacity: 1;
  }
  
  .hline3 {
    transform: translateY(-8px) rotate(0);
  }
  
  .menu-icon:hover .line:not(.line2) {
    background-color: brown;
  }
  
  .slide-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease-in-out;
    z-index: 1000;
    text-align: left;
  }

  .menu-button-open {
    background-color: transparent;
    color: #000000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 25px;
  }
  
  .links-container {
    padding: 20px;
  }
  
  .links-container a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 8px;
    transition: background-color 0.3s;
  }
  
  .links-container a:hover {
    background-color: #2c3e50;
  }
  
  .slide-menu.open {
    left: 0;
    text-align: left;
  }
  
  .hline1 {
    transform: translateY(11px) rotate(45deg);
  }
  
  .hline2 {
    opacity: 0;
  }
  
  .hline3 {
    transform: translateY(-11px) rotate(-45deg);
  }

  .menu-back-button {
    background-color: transparent;
    color: #000000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 25px;
  }