@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    height: 34vw;
    margin: 2px auto;
    background-image: url('../assets/headerimg.jpg');
    background-repeat: no-repeat;
    background-size:contain;
    position: relative;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-contents h2 {
    font-weight: 500;
    font-size: max(2.5vw, 10px);
    animation: fadeIn 3s;
    /* background: linear-gradient(to right, indigo, violet, yellow, blue, green, orange, red); */
    /* background-image: linear-gradient(to right, #f12711, #f5af19); */
    background-image: linear-gradient(to right, blue, cyan);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.sidecontentryt {
    position: absolute;
    right: 0;
    width: 38%;
}

.sidecontentryt p{
    font-size: 1.2vw;
    font-weight: 500;
    color: #000;
    margin: 1vw 0;
    text-align: justify;
}

.sidecontentryt h2{
    color: #000;
    margin: 1vw 0;
    text-align: justify;
}

.getstr {
    background-color: #3498db;
    border: 1px solid transparent;
    color: white;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
    border-radius: 0.25rem;
    display: inline-block;
    margin: 0.375rem;
}

.getstr:hover {
    background-color: #3498db;
    color: #ffffff;
    border-color: #0056b3;
}

.getstr:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.getstr:active {
    background-color: #004085;
    border-color: #003766;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

@media screen and (max-width: 600px) {
    .sidecontent {
        position: static;
        width: 100%;
    }
}

@media (max-width:1050px) {
    .header{
        height: 38vw;
    }
    .header-contents{
        max-width: 45%;
    }
}
@media(max-width:750px){
    .header-contents{
        max-width: 55%;
    }
    .header-contents p{
       display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}