:root {
    --sidebar-width: 250px;
    --header-height: 34vw;
    --header-img-filter: brightness(0.5);
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

body {
    overflow-x: hidden;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    align-items: center;
    display: flex;
    height: var(--header-height);
    justify-content: space-between;
    margin: 2px auto;
    padding: 0 20px;
    padding-left: var(--sidebar-width);
    position: relative;
}

.header img {
    filter: var(--header-img-filter);
    height: 80vh;
    margin-right: 0;
    margin-top: 130px;
    object-fit: cover;
    position: relative;
    right: 240px;
    width: calc(100vw - var(--sidebar-width) + 20px);
    z-index: -1;
    padding-right: 50px;
}

.header-contents {
    align-items: flex-start;
    animation: fadeIn 3s;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    left: calc(var(--sidebar-width) + 20px);
    max-width: calc(50% - var(--sidebar-width));
    position: absolute;
}

.header-contents h2 {
    animation: fadeIn 3s;
    background-clip: text;
    background-image: linear-gradient(to right, #00FFFF, #00FFFF);
    font-size: max(2.5vw, 24px);
    font-weight: 500;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 600px) {
    .header {
        flex-direction: column;
        height: auto;
        padding-left: 20px;
    }
    .header-contents {
        align-items: center;
        left: 0;
        max-width: 100%;
        position: static;
        text-align: center;
    }
}

@media (max-width:1050px) {
    .header {
        height: 38vw;
    }
    .header-contents {
        max-width: calc(45% - var(--sidebar-width)); 
    }
}

@media (max-width:750px) {
    .header-contents {
        max-width: calc(55% - var(--sidebar-width));
    }
    .header-contents p {
       display: none;
    }
    .header-contents button {
        padding: 2vw 4vw;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    body {
        overflow-x: hidden;
    }
}