  body {
    margin: 0;
    padding: 0;
  }

  .dashNavbar {
    text-align: center;
    background-color: #2c3e50;
    padding: 1px;
  }

  .listMapContainer {
    display: flex;
    flex-direction: row;
  }

  .tripList {
    border-radius: 10px;
    overflow: hidden;
    height: 90vh;
    width: 30vw;
  }

  .tripList h2{
    color: #2c3e50;
  }
  
  .tripItem {
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
  }
  
  .tripItem:hover {
    background-color: #2c3e50;
  }
  
  .tripItem.selected {
    background-color: #2c3e50;
  }
  
  .tripDetails {
    padding: 15px;
    background-color: #2c3e50;
    border-radius: 0 0 10px 10px;
  }
  
  .tripMapContainer {
    width: calc(70vw);
    height: calc(80vh);
  }