#myMapView {
  height: calc(100vh);
  width: calc(100vw)
}

.viewRoutes {
  display: flex;
  flex-direction: row;
}

.routesContainer {
  padding: 30px;
}

/* .mapContainer {
  display: flex;
  width: auto;
  height: auto;
  background-color: black;
} */